@charset "utf-8";
*{
    margin:0;
    padding:0;
}
a, a:link{
    text-decoration:none;
    color: inherit;
}
ul, li{
    list-style: none;
}
div{
    display: block;
}
body{
    width: 100%;
    font-family: SuisseIntl,Noto Sans KR,sans-serif;
    box-sizing: border-box;
}

#slides_swiper{
    width: 100%;
    height: 80%;
}
.sli{
    position: relative;
    width: 1280px;
    margin:0 auto;
}
.slides_swiper_main{
    width: 100%;
    position: absolute;
    left:0;
    margin-left:185px;
}
.slides_swiper_main li{
    /* float: left; */
    width: 518px;
}
.slides_swiper_main img{
    max-width: 100%;
}

footer{
    width: 100%;
}
.footer_bg{
    width: 1280px;
    margin: 0 auto;
    background-color: khaki;
}